@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$carro : #00000094;
$formulario : rgba(172, 10, 10, 0.418);
$field: rgba(61, 59, 59, 0.521);
$font: #fff;
$font2: black;

body{
    background: url('../images/background-red-future.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.box{
    background-color: $formulario;
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 600px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px #00000081;
}

.box > h1{
    text-align: center;
    color: $font;
}


.field_form{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

input{
    background-color: $field;
    width: 700px;
    padding: 15px;
    border-radius: 15px;
    color: $font;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid $carro;
}

input::placeholder{
    color: $font;
}

.btn{
    background-color: transparent;
    border: none;
}

.load{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarefa{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    color: $font;
    border: 1.5px solid $carro;
    box-shadow: 0px 0px 5px #000000cb;
    margin: 10px;
    font-weight: 400;
}

.title-task{
    font-weight: 600;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox > input{
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: turquoise;
}

.btn_Add:hover{
    cursor: pointer;
    transition: 0.5s;
    color: $font;
}

.btn_Del{
    color: $font;
}

.btn_Del:hover{
    cursor: pointer;
    transition: 0.5s;
    color: $font2;
}


